* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body .myImage {
  width: 50%;
}
body .myBar {
  font-size: 30px;
}
body .myCart {
  fill: #fff;
  font-size: 25px;
}
body #myInput {
  width: 100%;
  outline: none;
  padding: 6px 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  font-size: 13px;
  background-color: #E8E8E8;
}
body button {
  width: 8%;
  padding: 8px 0;
  background-color: #FBA100;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .btnCarrier {
  display: flex;
}
body .myGrid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body .Myitems {
  width: 100%;
}
body .myHeader {
  display: none;
}
body p {
  font-size: 14px;
}
body a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
body .Nivea_Banner {
  height: 60px;
  width: 100%;
}
body .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #F6F6F6;
}
body .grid2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  align-items: center;
  padding: 0px 20px;
  background-color: #ED017F;
}
body .grid2 .item a {
  font-size: 14px;
}
body .grid2 .item:nth-child(4) {
  grid-column: span 4;
}
body .grid2 input {
  width: 90%;
  outline: none;
  padding: 6px 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  font-size: 13px;
}
body .grid2 button {
  width: 10%;
  padding: 8px 0;
  background-color: #FBA100;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body .grid2 #help-dropdown {
  position: relative;
  display: inline-block;
}
body .grid2 a {
  font-size: 14px;
  text-align: center;
}
body .grid2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 2px 3px gray;
  line-height: 20px;
  border-radius: 5px;
  top: 40px;
  left: 20px;
  font-size: 14px;
  text-align: start;
}
body .grid2 #help-dropdown:hover .dropdown-content {
  display: block;
}
body .grid2 .svg {
  fill: white;
}
body .grid2 .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
body .grid2 .dropdown-content a:hover {
  background-color: #f1f1f1;
}
body .grid2 .dropdown-content a:active {
  background-color: #f1f1f1;
}
body .grid2 .btnCarrier {
  display: flex;
}
body .grid2 .item:nth-child(2):hover {
  height: 100%;
  width: 100px;
  background-color: white;
}
body .grid2 .item:nth-child(2):hover a {
  color: #ED017F;
}
body .grid2 .item:nth-child(3):hover {
  height: 100%;
  width: 100px;
  background-color: white;
}
body .grid2 .item:nth-child(3):hover a {
  color: #ED017F;
}
body .grid2 .item:nth-child(5):hover {
  height: 100%;
  width: 100px;
  background-color: white;
}
body .grid2 .item:nth-child(5):hover a {
  color: #ED017F;
}
body .grid2 .item:nth-child(5):hover .dropdown-content a {
  text-align: start;
  color: #000;
}
body .grid2 .item:nth-child(6):hover {
  height: 100%;
  width: 100px;
  background-color: white;
}
body .grid2 .item:nth-child(6):hover a {
  color: #ED017F;
}
body .grid3 {
  background-color: #94004F;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0px 15px;
  align-items: center;
}
body .grid3 .item .nav_links a {
  font-size: 14px;
}
body .grid3 a {
  color: white;
}
body .grid3 #firstCategory {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
}
body .grid3 #firstCategory div:hover .box {
  display: grid;
}
body .grid3 #firstCategory .nav_links:hover {
  background-color: #fff;
}
body .grid3 #firstCategory .nav_links:hover a {
  color: #000;
}
body .grid3 #firstCategory .box {
  width: 100%;
  height: 300px;
  position: fixed;
  z-index: 9999999999999;
  display: none;
  background-color: #fff;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: start;
}
body .grid3 #firstCategory .box ul li {
  list-style-type: none;
}
body .grid3 #firstCategory .box ul li a {
  font-size: 14px;
  font-weight: 550;
  color: #000;
}
body .grid3 #firstCategory .box ul li a:hover {
  color: #ED017F;
}
body .grid3 .dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
body .grid3 .contents {
  position: absolute;
  top: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  width: 100%;
}
body .grid3 .dropdown-grid1 {
  line-height: 50px;
  background-color: #F6F6F6;
  height: 100%;
  border-radius: 10px;
}
body .grid3 .dropdown-grid2 {
  padding: 2em 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
body .grid3 .dropdown-grid3 {
  background-image: url(./images/background_image.png);
}
body .grid3 .item {
  text-align: center;
}
body .grid3 .nav_links:hover {
  background-color: #fff;
  height: 30px;
}
body .grid3 .nav_links:hover a {
  color: #000;
}
body .box2 {
  width: 100%;
  height: 300px;
  position: fixed;
  left: 0;
  border-radius: 5px;
  z-index: 10000000000000000000000;
  padding: 0%;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: start;
  padding: 10px 0;
  padding-left: 1em;
  display: none;
}
body .box2 ul li {
  list-style-type: none;
}
body .box2 .E-drpdwn1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 420px;
  border-radius: 10px;
  background-color: wheat;
}
body .box2 .E-drpdwn1 ul li a {
  font-size: 14px;
  font-weight: 550;
  color: #000;
}
body .box2 .E-drpdwn1 ul li a:hover {
  color: #ED017F;
}
body .box2 .E-drpdwn2 img {
  width: 100%;
}
body #SecCategory:hover .box2 {
  display: grid;
}
body .box3 {
  width: 100%;
  height: 300px;
  position: fixed;
  left: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  display: none;
  z-index: 10000000000000000000000;
}
body .box3 ul li {
  list-style-type: none;
}
body .box3 .drpdwn3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 30px;
  padding-top: 30px;
}
body .box3 .drpdwn3 ul li a:hover {
  color: #ED017F;
}
body .box3 img {
  padding-top: 30px;
}
body #thirdCategory:hover .box3 {
  display: grid;
}
body .box4 {
  width: 100%;
  height: 350px;
  position: fixed;
  left: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  display: none;
  z-index: 10000000000000000000000;
}
body .drpdwn3cnts ul li {
  list-style-type: none;
  color: white;
}
body .drpdwn3 {
  line-height: 27px;
  padding-top: 30px;
  display: grid;
  text-align: start;
  background-image: url(./images/pexels-828860-2637820.jpg);
  background-size: cover;
  grid-template-columns: repeat(4, 1fr);
}
body .drpdwn3 ul li {
  color: white;
}
body .drpdwn3 ul li a {
  color: white !important;
  text-decoration: none;
}
body img {
  padding-top: 5px;
  height: 100%;
}

#fourthCategory:hover .box4 {
  display: grid;
}

.carouselSection {
  padding: 12px;
}
.carouselSection .grid-Wrapper {
  display: grid;
  grid-template-columns: 2.6fr 1.4fr;
  gap: 12px;
}
.carouselSection .grid-Wrapper .carouselDiv .myBtn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 10px;
}
.grid-section .gridditems {
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.grid-section .gridditems a {
  color: black;
}

.myDeals {
  width: 98%;
  margin: auto;
  background-image: repeating-radial-gradient(brown 80%, red);
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.myDeals div {
  color: white;
  display: flex;
  align-items: center;
  gap: 2em;
}
.myDeals div a:hover {
  text-decoration: underline;
}

section .secGrid {
  width: 98%;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
section .secGrid .items {
  border: none;
}
section .secGrid .myCardbody {
  text-align: start;
}
section .secGrid .myitems:hover {
  box-shadow: 1px 5px 5px gray;
}
section .secGrid2 {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
section .items {
  border-radius: 10px;
}
section .Store {
  width: 98%;
  margin: auto;
  background-color: #F5A623;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
}
section .secGrid3 {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.thirdSection {
  width: 98%;
  margin: auto;
  border-radius: 5px;
  border-radius: 1px solid black;
}
.thirdSection .thirdSecDiv {
  width: 98%;
  margin: auto;
  padding: 7px 0;
  border: 1px solid white;
  box-shadow: 1px 2px 30px gray;
  border-radius: 10px;
}
.thirdSection .grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  background-color: white;
}
.thirdSection .grid3 img {
  border-radius: 10px;
}

.fourthSection {
  width: 97%;
  margin: auto;
}
.fourthSection .links {
  color: #A9054D;
  font-size: 13px;
}
.fourthSection .fourthSecItems {
  border: none;
}

@media (max-width: 800px) {
  body .secondHeader {
    display: none;
  }
  body .myHeader {
    display: grid;
  }
  body .grid-Wrapper {
    display: block !important;
  }
  body .secGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  body .secGrid2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  body .secGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}